body {
  background: #fff;
  overflow: hidden;
  margin: 0;
}

.car {
  width: 80px;
  height: 45px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  z-index: 2;
}

.car .top, .car .body {
  display: block;
  background: green;
}

.car .top {
  width: 40%;
  height: 30%;
  margin: auto;
  position: relative;
  left: -10%;
}

.car .body {
  width: 100%;
  height: 50%;
}
.car .body:before {
  color: #fff;
  position: relative;
  left: -10%;
}

.car .wheel {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 10%;
  height: 25%;
  background: black;
}

.car .wheel-left {
  left: 10%;
}

.car .wheel-right {
  right: 10%;
}


.audi .top, .audi .body {
  background: #333;
}
.audi .body:before {
  content: 'Audi'
}

.bmw .top, .bmw .body {
  background: blue;
}
.bmw .body:before {
  content: 'BMW'
}

.ferrari .top, .ferrari .body {
  background: red;
}
.ferrari .body:before {
  content: 'Ferrari'
}

.racetrack {
  position: relative;
  z-index: 1;
  background: #888;
}

.racetrack:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
  left: 90px;
  background: #eee;
  z-index: 1;
}

.racetrack:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  top: 0;
  bottom: 0;
  right: 10px;
  background-color: #eee;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
  linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
